<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.daqiang.ficusvirens.root.infra.mapper.UserMapper">

    <resultMap id="userBaseResultMap" type="dev.daqiang.ficusvirens.root.domain.entity.User"
               extends="dev.daqiang.ficusvirens.root.infra.mapper.BaseEntityMapper.baseEntityResultMap">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="nickname" column="nickname" />
        <result property="avatar" column="avatar" />
        <result property="description" column="description" />
        <result property="email" column="email" />
        <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP" />
        <result property="isLocked" column="is_locked" />
        <result property="isEnabled" column="is_enabled" />

    </resultMap>

    <resultMap id="userResultMap" type="dev.daqiang.ficusvirens.root.domain.entity.User" extends="userBaseResultMap">
        <collection property="roles" ofType="dev.daqiang.ficusvirens.root.domain.entity.Role" fetchType="eager" column="{userId=id}"
                    select="dev.daqiang.ficusvirens.root.infra.mapper.RoleMapper.selectByUserId" javaType="ArrayList">
        </collection>
    </resultMap>

    <sql id="userColumns">
        ${alias}.id,
        ${alias}.username,
        ${alias}.password,
        ${alias}.nickname,
        ${alias}.avatar,
        ${alias}.description,
        ${alias}.email,
        ${alias}.expire_time,
        ${alias}.is_locked,
        ${alias}.is_enabled,
    </sql>

    <select id="selectAll" resultMap="userResultMap">
        SELECT
        <include refid="userColumns" >
            <property name="alias" value="u"/>
        </include>
        <include refid="dev.daqiang.ficusvirens.root.infra.mapper.BaseEntityMapper.baseEntityColumns" >
            <property name="alias" value="u"/>
        </include>
        FROM sys_user u
    </select>

    <select id="selectById" resultMap="userResultMap">
        SELECT
        <include refid="userColumns" >
            <property name="alias" value="u"/>
        </include>
        <include refid="dev.daqiang.ficusvirens.root.infra.mapper.BaseEntityMapper.baseEntityColumns" >
            <property name="alias" value="u"/>
        </include>
        FROM sys_user u
        WHERE u.id=#{id}
    </select>

    <select id="selectByUsername" resultMap="userResultMap">
        SELECT
        <include refid="userColumns" >
            <property name="alias" value="u"/>
        </include>
        <include refid="dev.daqiang.ficusvirens.root.infra.mapper.BaseEntityMapper.baseEntityColumns" >
            <property name="alias" value="u"/>
        </include>
        FROM sys_user u
        WHERE username=#{username}
    </select>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM sys_user WHERE id=#{id}
    </delete>

    <delete id="deleteRoles">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>

    <delete id="deleteRole">
        DELETE FROM sys_user_role WHERE user_id = #{userId} and role_id=#{roleId}
    </delete>

    <insert id="insert" parameterType="dev.daqiang.ficusvirens.root.domain.entity.User">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="nickname != null and nickname != ''">
                nickname,
            </if>
            <if test="email != null and email !=''">
                email,
            </if>
            <if test="avatar != null and avatar !=''">
                avatar,
            </if>
            <if test="description != null and description !=''">
                description,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="isLocked != null and isLocked !=''">
                is_locked,
            </if>
            <if test="isEnabled != null and isEnabled !=''">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy !=''">
                last_update_by,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="objectVersionNumber != null and objectVersionNumber !=''">
                object_version_number
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                #{nickname},
            </if>
            <if test="email != null and email !=''">
                #{email},
            </if>
            <if test="avatar != null and avatar !=''">
                #{avatar},
            </if>
            <if test="description != null and description !=''">
                #{description},
            </if>
            <if test="expireTime != null">
                #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isLocked != null and isLocked !=''">
                #{isLocked},
            </if>
            <if test="isEnabled != null and isEnabled !=''">
                #{isEnabled},
            </if>
            <if test="createBy != null and createBy !=''">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy !=''">
                #{lastUpdateBy},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime},
            </if>
            <if test="objectVersionNumber != null and objectVersionNumber !=''">
                #{objectVersionNumber}
            </if>
        </trim>
    </insert>

    <insert id="addRole">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">
                user_id,
            </if>
            <if test="roleId != null and roleId != ''">
                role_id,
            </if>
            <!--
            <if test="createBy != null and createBy !=''">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy !=''">
                last_update_by,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="objectVersionNumber != null and objectVersionNumber !=''">
                object_version_number
            </if>
            -->
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
            <if test="roleId != null and roleId != ''">
                #{roleId},
            </if>
            <!--
            <if test="createBy != null and createBy !=''">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy !=''">
                #{lastUpdateBy},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime},
            </if>
            <if test="objectVersionNumber != null and objectVersionNumber !=''">
                #{objectVersionNumber}
            </if>
            -->
        </trim>
    </insert>

    <update id="update" parameterType="dev.daqiang.ficusvirens.root.domain.entity.User">
        UPDATE sys_user
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="password != null">password=#{password},</if>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="email != null">email=#{email},</if>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="description != null">description=#{description},</if>
            <if test="expireTime != null">expire_time=#{expireTime},</if>
            <if test="isLocked != null">is_locked=#{isLocked},</if>
            <if test="isEnabled != null">is_enabled=#{isEnabled},</if>

            <if test="lastUpdateBy != null">last_update_by=#{lastUpdateBy},</if>
            <if test="lastUpdateTime != null">last_update_time=#{lastUpdateTime},</if>
            <if test="objectVersionNumber != null">object_version_number=#{objectVersionNumber}</if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>
